<form #addForm= "ngForm">
    <table>
        <tr>
            <td>
                <md-form-field>
                    <input required mdInput placeholder="Nombre" [(ngModel)]="customer.name" name="name" #name="ngModel">
                    <md-error>
                        Por favor ingrese un nombre valido.
                    </md-error>
                </md-form-field>        
            </td>
        </tr>
        <tr>
            <td>
                <md-form-field>
                    <input required mdInput placeholder="Dirección" [(ngModel)]="customer.address" name="address" #address="ngModel">
                    <md-error>
                        Por favor ingrese una Dirección valida.
                    </md-error>
                </md-form-field>  
            </td>
        </tr>
        <tr>
            <td>
                <md-form-field>
                    <input required mdInput placeholder="Telefono" [(ngModel)]="customer.telefono" name="telefono" #telefono="ngModel">
                        <md-error>
                            Por favor ingrese un numero de telefono valido.
                        </md-error>
                </md-form-field>                
            </td>
        </tr>
        <tr>
            <td>
                <md-form-field>
                    <input required mdInput placeholder="Ciudad" [(ngModel)]="customer.ciudad" name="ciudad" #ciudad="ngModel">
                        <md-error>
                            Por favor ingrese una ciudad valida.
                        </md-error>
                </md-form-field>        
            </td>
        </tr>
        <tr>
            <td>
                <div class="button-row">
                    <button [disabled]="!addForm.valid" md-raised-button color="primary">Guardar</button>
                </div>  
            </td>
        </tr>
    </table>
</form>